html
	head
		title NFL Squares!
		link(href='http://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="dist/css/styles.css")
	body
		.wrapper
			h1 NFL Squares
			.content

				//- startup / settings
				.page.settings
					h2 Set-Up
					.option
						label(for="pps") Price Per Square ($X):
						input(type="number", id="pps" class="price-per-square" step="0.1")
					.option
						h3 Players
						ul.player-list
							//- EXAMPLES
							li.blank
								input(class="name" value="")
								.num
									input(class="num-squares" value=0 type="number")
									span  Squares
						.btn.add-player-btn Add Player
					.option
						span Squares Remaining:
						//- EXAMPLE
						span.squares-remaining 88
					.option
						h3 Payouts
						ul.payouts
							li Q1:
								span
							li Halftime:
								span
							li Q3:
								span
							li Final:
								span
					.btn.pick-squares-btn Pick Squares

				//- pregame
				.page.pregame
					h2 Pre-Game: Pick Your Squares
					.grid
						.top-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
						.left-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
						.square-container
					.stats
						.option
							span player to choose from (click to select active chooser)
					.btn.settings-btn Back to Setup
					.btn.start-game-btn Start Game

				//- gametime
				.page.gametime
					h2 Game Time!
					span Copy grid over...dan does fancy logic
					.grid
						.top-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
						.left-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
						.square-container

				//- end game (if we want)
				.page.endgame
					h2 Game Over
					span not sure if we want to have this screen...but here it is!

				.clear

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
		script(src="dist/js/all.min.js")