html
	head
		title NFL Squares!
		link(href='http://fonts.googleapis.com/css?family=Alfa+Slab+One', rel='stylesheet', type='text/css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="dist/css/styles.css")
	body
		.wrapper
			h1 NFL Squares
			.content

				//- startup / settings
				.page.settings
					h2 Set-Up
					.option
						label(for="pps") Price Per Square ($X):
						input(type="text", id="pps" class="price-per-square")
					.option
						h3 Players
						ul.player-list
							//- EXAMPLES
							li
								.name Zack Stickles
								.num
									span.num-squares 20
									span  Squares 
							li
								.name Dan Mandle
								.num
									span.num-squares 15
									span  Squares 
						.btn.add-player-btn Add Player
					.option
						span Squares Remaining: 
						//- EXAMPLE
						span.squares-remaining 88
					.btn.pick-squares-btn Pick Squares

				//- pregame
				.page.pregame
					h2 Pre-Game: Pick Your Squares
					.grid
						.top-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
						.left-line
							.key 0
							.key 1
							.key 2
							.key 3
							.key 4
							.key 5
							.key 6
							.key 7
							.key 8
							.key 9
					.stats
						span stats goes here
					.btn.settings-btn Back to Setup
					.btn.start-game-btn Start Game

				//- gametime
				.page.gametime
					.grid
						.square this is a square
					.stats
						span stats goes here

				//- end game (if we want)
				.page.endgame
					span end game information could go here

				.clear

		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js")
		//- script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
		script(src="dist/js/all.min.js")